body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin : 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color:black;
  }
  p{
    margin:0;
    padding: 0 5px 0 7px;
  }
  .fenetre{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto
  }
  .left{
    border: 1px solid red;
    width: 15%;
    height: 200px
  }
  .middle{
    border: 1px solid blue;
    width: 45%;
    height: 200px
  }
  .right{
    border: 1px solid green;
    width: 40%;
    height: 200px
  
  }
  
  #box{
    width: 650px;   
    height: 90px;
  }
  #perso{
    height: 144px;
  }
  #map{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: 0.2s linear;
    
}
#map div{
    display:flex;
}
#map div div{
    height:48px;
    min-width:48px;

}
.container{
    height:576px;
    width:864px;
    overflow: hidden;
    position:relative;
}
  #myCanvas{
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height:48px;
    width:48px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

}
#myCanvasPng{
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height:48px;
    width:48px;
    left:0;
    top:0;
    transform:translate(-100%,-100%);
    transition: 0.2s linear;
    

}
#msg{
    position:absolute;
    bottom:20%;
    left: 50%;
    color:Black;
    font-size: 32px;
}
#chaisedos{
  position:absolute;
  left:calc(8*48px);
  top:calc(7*48px);
  z-index: 10;
}
#calc{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  transition: 0.2s linear;
  height:calc(31*48px);
  width:calc(31*48px);
  z-index: 5;
}
#chaisedos2{
  position:absolute;
  left:calc(8*48px);
  top:calc(12*48px);
  z-index: 10;
}
#container-box {
  position: absolute;
  bottom: 0;
  width:864px;
  display: flex;
  align-items: center;
  z-index: 50;
  height: 90px;
  background: linear-gradient(rgba(49, 49, 87, 0.8) 75%, transparent);
  color: white;
  font-size: 25px;
  padding: 55px 50px 55px 50px;
  text-shadow: 2px 2px black;
  display: none;
}

p {
  min-height: 1px;
}