body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin : 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
  }
  p{
    margin:0;
    padding: 0 5px 0 7px;
  }
  .fenetre{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto
  }
  .left{
    border: 1px solid red;
    width: 15%;
    height: 200px
  }
  .middle{
    border: 1px solid blue;
    width: 45%;
    height: 200px
  }
  .right{
    border: 1px solid green;
    width: 40%;
    height: 200px
  
  }
  
  #box{
    display:none;
    width: 650px; 
    height: 60px; 
    overflow: hidden;
    border: 1px solid black;
    border-radius: 5%;
    position: absolute;
    bottom: 20px;
    left: 200px;
  
  }
  #perso{
    display:none;
    width : 10%;
    position: absolute;
    bottom: 20px;
    left: 50px
  }
  #map{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: 0.2s linear;
    
}
#map div{
    display:flex;
}
#map div div{
    height:48px;
    min-width:48px;

}
.container{
    height:576px;
    width:864px;
    overflow: hidden;
    position:relative;
}
  #myCanvas{
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height:48px;
    width:48px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);

}
#myCanvasPng{
    background-size:40px;
    background-repeat: no-repeat;
    background-position: center;
    position:absolute;
    height:48px;
    width:48px;
    left:0;
    top:0;
    transform:translate(-100%,-100%);
    transition: 0.2s linear;
    

}
#msg{
    position:absolute;
    bottom:20%;
    left: 50%;
    color:Black;
    font-size: 32px;
}
#chaisedos{
  position:absolute;
  left:calc(15*48px);
  top:calc(15*48px);
  z-index: 10;
}